body {
	font: 18px sans-serif;
}

h1 {
	text-align: center;
}

/* needed for vertically-oriented X axis labels to display */
svg {
	overflow: visible;
}

.axis path, .axis line {
	fill: none;
	stroke: #70818EFF;
	stroke-width: 1px;
}

/* noise, non-data ink */
.tick line {
	stroke: transparent;
}

.tooltip {
	background-color: #333;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #aaa;
	color: #fff;
	padding: .3em 1em;
	position: absolute;
		top: 5em;
		right: 5em;
	visibility: hidden;
	z-index: 20;
}